@model ModifyModel

@{
    ViewData["Title"] = "ModifyPassword";
}

@section Scripts{ 
    <script>
        $(document).ready(function() {
            var $btn = $("#showPas");
            var btn = $btn.get(0);
            $btn.click(function() {
                if (btn.checked) {
                    $(".pass").attr("type", "");
                } else {
                    $(".pass").attr("type", "password");
                }
            });
        })
    </script>
}


<h2>修改密码</h2>

<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="ModifyPassword" method="post">
    <div class="form-group">
        <label asp-for="OriginalPassword"></label>
        <input asp-for="OriginalPassword" class="pass"/>
    </div>
    <div class="form-group">
        <label asp-for="ModifiedPassword"></label>
        <input asp-for="ModifiedPassword" id="modifiedPassword" class="pass"/>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmedPassword"></label>
        <input asp-for="ConfirmedPassword" id="confirmedPassword" onkeydown="" class="pass"/>
    </div>
    <div class="form-group">
        <label>显示密码 </label><input style="margin-left: 10px" type="checkbox" id="showPas"/>
    </div>
    <input type="submit"/>
    <input type="reset"/>
</form>